* { -ms-word-wrap: break-word; word-wrap: break-word; }
html { -webkit-text-size-adjust: none; text-size-adjust: none; }
html, body {height:100%;width:100%; }

.wrap {
    width: 464px;
    height: 34px;
    margin: 50px auto;
    border: 0;
    position: relative;
}

#detail-url{
    position: absolute;
    top: -45px;
    left: 0;
    width: 565px;
    margin: 0;
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border: 1px solid #c9cacb;
}


#data-count{
    position: absolute;
    top: -5px;
    left: 0;
    width: 457px;
    margin: 0;
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border: 1px solid #c9cacb;
}

#query-url {
    position: absolute;
    top: -45px;
    right: -100px;
    width: 110px;
    height: 30px;
}

#query-area {
    position: absolute;
    top: 35px;
    right: 8px;
    width: 110px;
    height: 30px;
}

#city{
    position: absolute;
    top: 35px;
    left: 0;
    width: 457px;
    margin: 0;
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border: 1px solid #c9cacb;
}

._citys {
    width: 450px;
    display: inline-block;
    border: 2px solid #eee;
    padding: 5px;
    position: relative;
}

._citys span {
    color: #05920a;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #05920a;
    cursor: pointer;
}

._citys0 {
    width: 95%;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    border-bottom: 2px solid #05920a;
    padding: 0px 5px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 6px;
}

._citys0 li {
    display: inline-block;
    line-height: 34px;
    font-size: 15px;
    color: #888;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

._citys1 {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    background-color: #92B8B1;

}

._citys1 a {
    /*width: 83px;*/
    height: 35px;
    display: inline-block;
    background-color: #f5f5f5;
    color: #666;
    margin-left: 15px;
    margin-top: 3px;
    padding: 0 8px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    overflow: hidden;
}

._citys1 a:hover {
    color: #fff;
    background-color: #05920a;
}

.AreaS {
    background-color: #05920a !important;
    color: #fff !important;
}

